/* === Глобальні стилі === */
body {
    min-height: 100vh;
    background: linear-gradient(196deg, #e96443, #904e95);
    animation: animatebg 5s ease infinite;
    background-size: 200%;
    font-size: 20px;
    font-family: italic, sans-serif;
    padding: 10px;
}

/* Анімації */
@keyframes animatebg {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

p {
    text-indent: 40px;
}

img {
    height: 300px;
    width: 500px;
    border-radius: 16px;
}

/* === Класи === */
.centerButtons {
    background-color: #e7ecea;
    /* width: fit-content; */
    width: 0 auto;
    margin: 0 auto;
    border-radius: 100px;
    padding: 16px;
    /* padding: 10px 20px; */
    text-align: center;
    /* display: inline-block; */
}

.btnNavigation {
    border-radius: 100px;
    background: rgba(128, 30, 0, 0.8);
    color: #ffffff;
    border: none;
    transition: 1s;
    width: auto;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0em 3em;
    cursor: pointer; /*зміна курсору при наведенні*/
}

.btnNavigation:hover {
    background: rgba(128, 30, 0, 1);
    transform: translateY(-5px);
}

.btnActive {
    color: rgba(128, 30, 0, 0.8);
    background-color: #e7ecea;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    font-weight: bold;
    /* font-weight: inherit;
    font-family: italic;
    font-size: inherit; 
    line-height: inherit; */
}
    
.btnActive:hover {
    color: rgba(128, 30, 0, 1);
    background-color: #e7ecea;
}

.item {
    display: none;
}

/* .contentList {
    display: block;
    background-color: #258961;
} */

.contentShow {
    display: block;
}


/* .btnActive:hover.Active {
    color: rgba(128, 30, 0, 1);
    background-color: #ffffff;
} */


/* === Стилі навігації (ul, li, посилання) === */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    /* gap: 150px; */
}

/* .no-style {
    all: unset;
    display: list-item;
}

.no-style:hover {
    background: none;
    transform: none;
} */

/* === Кнопка списку === */
.multibutton {
    position: fixed;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70px;
    height: 70px;
    /*overflow: hidden; /*скриття інформації*/
    transition: 0.5s ease; /*затримка анімації*/
}

.multibutton:hover {
    width: auto;
    height: auto;
}

.multibutton:hover .multibutton_list {
    position: relative; /*при наведенні курсора зміна position: з absolute --> relative*/
    top: auto; /*з 80px на auto за для виїжджання списку знизу*/
    bottom: 20px; /*відстань між головною кнопкою Contact та виїджаючим "multibutton_list" списком*/
    visibility: visible; /*список виїжджає при наведенні*/
}

.multibutton:hover .multibutton_item {
    visibility: visible; /*при наведенні*/
    opacity: 1;
    transition: 0.5s ease; /*затримка анімації*/
    transform: scaleX(1) scaleY(1) translateY(0);
}

.multibutton_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 13px;
    top: 80px;
    visibility: hidden; /*скриття списку*/
    transition: 0.5s ease; /*скорость появления єлемента*/
    list-style: none;
    padding: 0;
    margin: 0;
}

.multibutton_title {
    font-size: 20px;
    color: black;
    text-decoration: none;
    background: #e7ecea;
    padding: 10px;
    border-radius: 100px;
}

.multibutton_item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    transform: scaleX(0.4) scaleY(0.4) translateY(150px);
    opacity: 0; /*невидимість елементів*/
    visibility: hidden; /*невидимість елементів*/
}

@keyframes bobble { /*анімація кнопки вверх вниз*/
    0%, 100% {
        transform: translateY(0); /* Початкова позиція */
    }
    50% {
        transform: translateY(-10px); /* Підстрибування вгору */
    }
}

@keyframes animation_call { /*градієнтова анімація*/
    0% {
        box-shadow: 0 0 0 0 #ffba26, 0 0 0 0 rgba(255, 206, 9, 0.7);
    }
    35% {
        box-shadow: 0 0 0 13.62667px rgba(255, 186, 38, 0), 0 0 0 6.81333px rgba(255, 206, 9, 0.7);
    }
    70% {
        box-shadow: 0 0 0 27.25333px rgba(255, 186, 38, 0), 0 0 0 13.62667px rgba(255, 206, 9, 0);
    }
    100% {
        box-shadow: 0 0 0 34.06667px rgba(255, 186, 38, 0), 0 0 0 0 0 0 27.25333px rgba(255, 206, 9, 0);
    }
}

.multibutton_button {
    display: flex;
    align-items: center; /*виріввн по гориз-лі*/
    justify-content: center; /*виріввн по верт-лі*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer; /*зміна курсору при наведенні*/
    transition: all 200ms ease-out;
    animation: bobble 2s infinite, animation_call 2s linear infinite; /*анімація 2 секунди*/ /*анімація 2 секунди*/
}

.multibutton_button img {
    width: 70px;
    height: 70px;
}

.multibutton_icon {
    /* width: 40px;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
    /* border-radius: 50%; */
}

.multibutton_icon img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* animation: bobble 2s infinite; */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
}
