/* === Глобальні стилі === */
body {
    min-height: 100vh;
    background: linear-gradient(196deg, #e96443, #904e95);
    animation: animatebg 5s ease infinite;
    background-size: 200%;
    font-size: 20px;
    font-family: italic;
}

/* Анімації */
@keyframes animatebg {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

p {
    text-indent: 40px;
}

img {
    height: 300px;
    width: 500px;
    border-radius: 16px;
    
}

/* === Класи === */
.tabs-content {
    background-color: #e7ecea;
    /* width: fit-content; */
    width: 0 auto;
    margin: 0 auto;
    border-radius: 100px;
    padding: 16px;
    /* padding: 10px 20px; */
    text-align: center;
    /* display: inline-block; */
}

.btnNavigation {
    border-radius: 100px;
    background: rgba(128, 30, 0, 0.8);
    color: #ffffff;;
    border: none;
    transition: 1s;
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0em 3em;
}

.btnNavigation:hover {
    background: rgba(128, 30, 0, 1);
    transform: translateY(-5px);
}

.btnActive {
    color: rgba(128, 30, 0, 0.8);
    background-color: #e7ecea;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    font-weight: bold
    /* font-weight: inherit;
    font-family: italic;
    font-size: inherit; 
    line-height: inherit; */
    /* border:  #e7ecea 1px solid; */
}
    
.btnActive:hover {
    color: rgba(128, 30, 0, 1);
    background-color: #e7ecea;
}

.item {
    display: none;
}

.contentShow {
    display: block;
}

/* .btnActive:hover.Active {
    color: rgba(128, 30, 0, 1);
    background-color: #ffffff;
} */


/* === Стилі навігації (ul, li, посилання) === */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* .no-style {
    all: unset;
    display: list-item;
}

.no-style:hover {
    background: none;
    transform: none;
} */
